ALTER TABLE public.trabajos DROP CONSTRAINT IF EXISTS trabajos_cliente_id_fkey;
ALTER TABLE public.trabajos DROP CONSTRAINT IF EXISTS trabajos_empresa_id_fkey;
ALTER TABLE public.trabajos ADD CONSTRAINT trabajos_cliente_id_fkey FOREIGN KEY (cliente_id) REFERENCES public.clientes(id) ON DELETE RESTRICT;
ALTER TABLE public.trabajos ADD CONSTRAINT trabajos_empresa_id_fkey FOREIGN KEY (empresa_id) REFERENCES public.empresas(id) ON DELETE RESTRICT;
